body{
	background:url(maxresdefault.jpg);
	background-size:100% 500px;
	padding-top:100px  
}
#nav{
	padding-top: 30px;
	padding-left:60px;
	font-size: 30px;
	background:pink;
	width: 450px;
	height: 500px;
	margin:auto;
	border-radius: 10px;
	opacity: .8;
}

#nav{
	font-size:20px;
	background:green;
width:600px;
height: 600px;
margin: auto;
border-radius: 20px;
opacity:8px;
}
#nav input{
	margin-top:30px;
	width:200px;
	height:40px;
	font-size: 25px;
	border-radius:5px;

}
#nav input[type="submit"]{
	margin: top:10px;
	width: 200px;
	border-radius:50px;
	margin-left: 100px;
	background:blue
	font-weight:bold;
}